body{
    background-color: #EE81B3;
    color:black;
}

img{
    width: 280px;
    height: 380px;
    border-color: coral;
    border: 2px;
    
}

.fotito{
margin: auto;
background-color: lightcoral;
display: inline-block;
border: 2px;
border-color: aquamarine;
}

h1{
    text-align: center;
    text-decoration: double;
}

h2{
    text-align: center;
    text-decoration: double;
}